<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>

    <style>
      .font-poppins {
        font-family: "Poppins", sans-serif;
      }

      @layer base {
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    </style>
  </head>
  <body class="bg-[#f3f3f3] text-[#444] font-poppins">
    <header
      class="flex items-center justify-between px-4 sm:px-12 py-4 sm:py-4"
    >
      <div class="text-lg font-medium hidden sm:block">Welcome back, Masud</div>

      <div>
        <img class="w-10 sm:w-12" src="./img/logo.png" alt="" />
      </div>

      <div class="flex gap-2 items-center">
        <div class="flex items-center gap-1">
          <span
            class="w-7 h-7 bg-gray-500 rounded-full uppercase p-2 font-medium text-sm text-white flex items-center justify-center"
            >M</span
          >
          <p class="font-medium">Masud</p>
        </div>
        <span
          class="material-symbols-outlined text-2xl font-medium cursor-pointer"
        >
          logout
        </span>
      </div>
    </header>

    <main class="w-full max-w-[1000px] mx-auto my-8">
      <div class="mx-4 flex items-center justify-between">
        <div>
          <p class="text-xl sm:text-2xl font-medium">Current balance</p>
          <span class="text-sm sm:text-base text-[#888]"
            >As of 09/08/2023, 00:34</span
          >
        </div>
        <div class="text-3xl sm:text-5xl">25 952,59 €</div>
      </div>

      <!-- div 2 -->
      <div class="mx-4 grid grid-cols-7 gap-8 mt-8 rounded-lg overflow-hidden">
        <div
          class="bg-white h-screen col-start-1 col-span-full md:col-span-4 divide-y divide-[#eee]"
        >
          <!-- 1 -->
          <div class="flex items-center justify-between px-6 sm:px-12 py-6">
            <div class="flex items-center gap-4 sm:gap-6">
              <span
                class="uppercase text-xs font-medium px-2 py-[2px] rounded-full bg-gradient-to-tl from-[#39b385] to-[#9be15d] text-white"
                >8 Deposit</span
              >
              <span class="text-xs text-[#666]">01/08/2020</span>
            </div>
            <p class="text-lg sm:text-xl">1300,00 €</p>
          </div>

          <!-- 2 -->
          <div class="flex items-center justify-between px-6 sm:px-12 py-6">
            <div class="flex items-center gap-4 sm:gap-6">
              <span
                class="uppercase text-xs font-medium px-2 py-[2px] rounded-full bg-gradient-to-tl from-[#e52a5a] to-[#ff585f] text-white"
                >7 WITHDRAWAL</span
              >
              <span class="text-xs text-[#666]">01/08/2020</span>
            </div>
            <p class="text-lg sm:text-xl">300,00 €</p>
          </div>

          <!-- 3 -->
          <div class="flex items-center justify-between px-6 sm:px-12 py-6">
            <div class="flex items-center gap-4 sm:gap-6">
              <span
                class="uppercase text-xs font-medium px-2 py-[2px] rounded-full bg-gradient-to-tl from-[#39b385] to-[#9be15d] text-white"
                >6 Deposit</span
              >
              <span class="text-xs text-[#666]">01/08/2020</span>
            </div>
            <p class="text-lg sm:text-xl">750,00 €</p>
          </div>
        </div>
        <div
          class="h-screen col-start-1 col-span-full md:col-start-5 md:col-span-3 space-y-5"
        >
          <!-- transfer money -->
          <div
            class="bg-gradient-to-tl from-[#ffb003] to-[#ffcb03] px-8 py-6 flex flex-col rounded-lg"
          >
            <h3 class="text-[17px] font-semibold text-[#333] mb-4">
              Transfer money
            </h3>
            <form class="flex items-center gap-3">
              <div class="flex-1 flex flex-col items-center gap-1">
                <input
                  class="w-full bg-[#FFFFFF66] border-none focus:outline-none px-4 py-[2px] text-center rounded-md text-[#333]"
                  id="acc"
                  type="text"
                />
                <label class="text-[13px]" for="acc">Transfer to</label>
              </div>
              <div class="flex-1 flex flex-col items-center gap-1">
                <input
                  class="w-full bg-[#FFFFFF66] border-none focus:outline-none px-4 py-[2px] text-center rounded-md text-[#333]"
                  id="amount"
                  type="number"
                />
                <label class="text-[13px]" for="amount">Amount</label>
              </div>
              <button
                class="bg-white border-none outline-none self-start px-5 py-[2px] rounded-md"
                type="submit"
              >
                →
              </button>
            </form>
          </div>

          <!-- request loan -->
          <div
            class="bg-gradient-to-tl from-[#39b385] to-[#9be15d] px-8 py-6 flex flex-col rounded-lg"
          >
            <h3 class="text-[17px] font-semibold text-[#333] mb-4">
              Request loan
            </h3>
            <form class="grid grid-cols-[2.5fr_1fr_2.5fr] gap-3">
              <div class="flex-1 flex flex-col items-center gap-1">
                <input
                  class="w-full bg-[#FFFFFF66] border-none focus:outline-none px-4 py-[2px] text-center rounded-md text-[#333]"
                  id="amount"
                  type="number"
                />
                <label class="text-[13px]" for="amount">Amount</label>
              </div>
              <button
                class="bg-white border-none outline-none self-start px-5 py-[2px] rounded-md"
                type="submit"
              >
                →
              </button>
            </form>
          </div>

          <!-- close account -->
          <div
            class="bg-gradient-to-tl from-[#e52a5a] to-[#ff585f] px-8 py-6 flex flex-col rounded-lg"
          >
            <h3 class="text-[17px] font-semibold text-[#333] mb-4">
              Close account
            </h3>
            <form class="flex items-center gap-3">
              <div class="flex-1 flex flex-col items-center gap-1">
                <input
                  class="w-full bg-[#FFFFFF66] border-none focus:outline-none px-4 py-[2px] text-center rounded-md text-[#333]"
                  id="acc"
                  type="text"
                />
                <label class="text-[13px]" for="acc">Confirm user</label>
              </div>
              <div class="flex-1 flex flex-col items-center gap-1">
                <input
                  class="w-full bg-[#FFFFFF66] border-none focus:outline-none px-4 py-[2px] text-center rounded-md text-[#333]"
                  id="amount"
                  type="number"
                />
                <label class="text-[13px]" for="amount">Confirm PIN</label>
              </div>
              <button
                class="bg-white border-none outline-none self-start px-5 py-[2px] rounded-md"
                type="submit"
              >
                →
              </button>
            </form>
          </div>

          <!-- --------- -->
        </div>
      </div>
    </main>
  </body>
</html>
